.app-container{
    padding: 2rem;
}

.header{
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-bottom: 20px;
}

.header-btns{
    padding: 5px 25px;
}

.active-link {
    background-color: #007bff !important; 
    color: #fff !important;
}